.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 640px;
  margin: 0 auto;
}

.kommuner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 1rem;
  margin-top: 0px;
  padding-top: 0px;
}

.kommune-item {
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  gap: 0.5rem;
  margin-top: 0px;
}

@media (max-width: 800px) {
  .kommuner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .kommuner-grid {
    grid-template-columns: 1fr;
  }
}